
body {
  margin: 0;
  height: 100vh;
}

.gTLZXx {
  /* content: url('./assets/svgs/tab.svg') !important;
  transform: rotateZ(320deg) !important;
  right: 25px !important;
  top: 105px !important; */
  filter: brightness(0) invert(1);
}

.sc-gsTCUz {
  max-width: 55vw !important;
  max-height: 55vw !important;
}

button {
  border: none;
}