
body {
  margin: 0;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url('./assets/svgs/bg-full.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F0C8F4;
  height: 100%;
}

.App {
  height: fit-content;
  width: fit-content;
}

.gTLZXx {
  /* content: url('./assets/svgs/tab.svg') !important;
  transform: rotateZ(320deg) !important;
  right: 25px !important;
  top: 105px !important; */
  filter: brightness(0) invert(1);
}


.sc-gsTCUz {
  max-width: 55vw !important;
  max-height: 55vw !important;
}

button {
  border: none;
}