* {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100vw;
}

.gTLZXx {
  content: url('./assets/svgs/tab.svg') !important;
  transform: rotateZ(320deg) !important;
  right: 10px !important;
  top: 85px !important;
}