.backgroundWrapper {
    position: relative;
    .backgroundImage {
        width: 100%;
        height: auto !important;
        object-fit: fill;
        z-index: 1;
        overflow-x: hidden !important;
    }
}